<div class="row">
	<div class="col-md-1">
		<div id="blueimp-gallery" class="blueimp-gallery">
			<div id="links">
		<%= manga.title %>
		<%= link_to(image_tag(manga.image.thumb, class: "img-rounded"), manga_path(manga)) %>

    		</a>
			</div>
		</div>
	</div>
</div>