<div class="row">

<%= @mangas.each do |manga| %>

<div class="col-md-1">
<%= manga.title %> <p> <p><%= image_tag(manga.image) %>

<% end %>

</div>
</div>

test

<script>

document.getElementById('links').onclick = function (event) {
    event = event || window.event;
    var target = event.target || event.srcElement,
        link = target.src ? target.parentNode : target,
        options = {index: link, event: event},
        links = this.getElementsByTagName('a');
    blueimp.Gallery(links, options);
};
</script>