<div class="jumbotron">
<h1>Manga</h1>
<h3>Click on any of the thumbnails below to read the Manga</h3>
<ul>
<%= @mangas.each do |manga| %>
	<li> <%= manga.title %> | <%= image_tag(manga.image) %>


<% end %>
<li>
</ul>
</div>