<div class="jumbotron">
	<h1>Welcome to Mangabytes!</h1>
<div class="light-height-exp">
	<p>Click here to <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %> and start reading some Manga.</p>

		<p>If you want to learn more about Manga you can get a crash course on it <%= link_to "here", "#", class: "btn btn-primary btn-lg" %></p>
</div>
</div>