<div class="jumbotron center">
<h1>About Us</h1>
<br>
<p>Manga is the Japanese style of comics with a unique story line and style. In Japan people of all ages read manga, manga does not target younger audiences like american comics. The genre includes a broad range of subjects.</p>
<br>
<p>Mangabytes is a touch-enabled and responsive Manga gallery that I whipped up for a few of my friends that prefer to read their manga on the go.</p>
</div>
</div>
