<div class="footer">
	<small>
		<%= link_to "Test", "http://google.com" %>
		<%= link_to "Test2", "http://google.com" %>
		<%= link_to "Test3", "http://google.com" %>
	</small>
</div>

<!--- Add test for footer with current UI -->